// Variables
$color-primary-dark: #2b8895;
$color-primary-light: #7dc6cf;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}
// Navigation
.navigation {
  width: 100%;
  height: 7rem;
  background: #d3d3d3;
  padding: 0 5%;

  display: flex;
  justify-content: space-between;

  &__logo {
    text-transform: uppercase;
    font-size: 3rem;
    align-self: center;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
  }

  &__nav {
    align-self: center;
  }

  &__list {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 2.3rem;

    display: flex;
    align-items: stretch;
  }

  &__link {
    text-decoration: none;

    &:link,
    &:visited {
      color: white;
    }

    &:hover,
    &:active {
      color: teal;
    }
  }

  &__item {
    letter-spacing: 0.4rem;
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}

// Header
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(img/1.jpg);
  background-size: cover;
  background-position: top;
}
